.header {
  color: white;
  background-color: var(--tema-vermelho);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: .2rem 3rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header__btn {
  background: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
}

.header__btn :hover {
  transform: scale(1.1);
  transition: .1s linear;
}

.header__title {
  font-size: 2.5rem;
  font-family: 'Rozha One';
  user-select: none;
  font-weight: normal;
}

.header__logo {
  height: 2rem;
  width: 2rem;
}

/* SKELETONS */

.header__title.skeleton-text {
  width: 15rem;
  height: 2rem;
  opacity: 50%;
}

/* RESPONSIVE QUERYS */

@media (max-width: 768px) {
  .header__title {
    display: none;
  }
}